
body {
    margin: 0;
    padding: 0;
}
img {
    height: 22px;
    margin-right: -9px;
}
.header
{
    width: 100%;
    height: 53px;
    background-color: #000088;
}
.container-fluid {
    padding: 0;
}
.headertop
{

    height: 40px;

}
.navbar-default
{
    background-color: #000088;
}
.logoheader
{
    margin-top: -8px;
}

.navbar-form .form-control {
    width: 414px;
}
.avatar
{
    width: 23px;
    height: 23px;
    border-radius: 10px;
}
.navbar-default {
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 12px;


}
.row{
    margin-right: 12px;
}
.content{
    width: 90%;
    margin-right: 12px;
    margin-bottom: 151px;
}
.custombut{
    margin-bottom: -21px;
}
.banner
{
    width: 100%;
    height: 350px;;
}
.buttombanner{
    margin-top: -151px;
    border: 1px solid #999999;
    background-color: #ffff;

}

.customnav>li>a
{
    /* width: 114px; */
    padding: 14px;
    border: 1px solid #999999;
    margin-top: 0px;
    margin-bottom: -4px;
    font-weight:bold;
    height: 49px;
}
.pass{
    margin-right:0;
}
.cusomdrop{
    margin-right: 18px;
}
.banner-bottom1
{
    position: absolute;
    bottom: 16px;
    right: 14px;
}
.banner-bottom2
{
    position: absolute;
    bottom: 16px;
    right: 44px;
    font-weight:bold;

}
button{
    line-height: 34px;
}
.custom-alert
{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 3px;

}
.custom-buttom2
{
    right: 235px;
}
.AvatarBanner{
    position: absolute;
    bottom: -30px;
    border-radius: 82px;
    left: 17px;
    width: 168px;
    height: 168px;
}
.nav-bottom-banner
{
    width: 100%;
    height: 50px;
    background-color: #ffff;
    /* margin: -32px; */
    margin-top: -151px;
    border: 1px solid #999999;
}
.navbar-collapse.collapse{
    height: 50px !important;
}
.adssdad{
    width: 100%;
    height: 56px;
    background-color: red;
    margin-top: -151px;
}
.Avatarname{
    position: absolute;
    bottom: 6px;
    left: 200px;
    font-size: 35px;
    color: #ffff;
    font-weight:bold;
}
.listUser{
    background-color: honeydew;
}
.panel-default>.panel-heading {
    height: 143px;
}
