#header {
    background-color: red;
}

#main {
    height: 600px;
}

#sidebar {
    height: 100%;
    background-color: orange;
}

#content {
    height: 100%;
    background-color: green;
}

#footer {
    color: white;
    background-color: black;
}